* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #db4c3f;
  color: white;
  padding: 1rem;
}

main {
  display: flex;
  flex-grow: 1;
}

footer {
  margin-top: auto;
  text-align: center;
}

button {
  display: flex;
  background: none;
  border-style: none;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.5rem;
}


.menu {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 3rem;
  background-color: rgb(241, 241, 241);
}

.menu button,
.menu h3 {
  font-size: 18px;
}

.menu button:hover {
  background-color: rgb(231, 231, 231);
}

.menu h3 {
  margin-top: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.project {
  margin-left: 1.5rem;
  display: flex;
}

.menu button {
  display: flex;
  align-items: flex-end;
}

.project img {
  width: 0.8rem;
  height: 0.8rem;
}

.project:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 0.6rem;
}

.project button:first-child {
  font-size: 15px;
  flex-grow: 1;
}

.task-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.btn-add-task {
  margin-bottom: 1.5rem;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.5rem;
  width: 70%;
  border-bottom: 1px solid lightgray;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.title input,
.title label {
  cursor: pointer;
}

.date {
  text-align: center;
  margin-left: 1rem;
}

.del-edit {
  display: flex;
  flex-grow: 0;
  margin-left: auto;
  gap: 1rem;
}

.del-edit button,
.close-modal {
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.description {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 10px 27px;
  font-size: 14px;
  font-weight: lighter;
  min-width: 200px;
  max-width: 400px;
  
}


.task-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.323);
  height: 100%;
  width: 100%;
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  width: 375px;
  height: 475px;
  margin: 100px auto;
}

.form-container h1 {
  align-self: center;
}

.task-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.task-form div {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.close-modal {
  align-self: flex-end;
  margin: 5px 5px 0 0;
}

.modal-input {
  border-style: none;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 14px;
}

.modal-input:focus {
  outline: none;
}

#description {
  resize: none;
}
