* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: blue;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  outline: 1px solid red;
  flex-grow: 1;
}

.todos {
  outline: 1px solid red;
  flex-grow: 8;
}

.footer {
  margin-top: auto;
  background-color: blue;
}