* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: #eee;
  padding: 1rem;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: #ddd;
  color: #333;
}

.sidebar ul {
  padding: 2rem;
  width: 200px;
  list-style: none;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: #eee;
  color: #333;
  padding: 3rem;
}

.todos {
  width: 60%;
}

.card {
  outline: 1px solid black;
  margin-bottom: 0.5rem;
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #eee;
  padding: 1rem;
  text-align: center;
}